.task {
    border: 1px solid;
    margin-bottom: 2px;
    overflow: hidden;
    width: 500px;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.listTitle {
    margin: 15px;
}

#newTask {
    margin-top: 20px;
}

.taskDescription {
    border: 0;
    width: 300px;
}

.deleteButton {
    background-color: white;
    border: 0px;
    color: red;
    font-weight: bolder;
}

.editIcon {
    width: 15px;
    height: 15px;
}