.task {
    border: 1px solid;
    margin-bottom: 2px;
    width: 30%;
}

.listTitle {
    margin: 15px;
}

#newTask {
    margin-top: 20px;
}

.deleteButton {
    background-color: white;
    border: 0px;
    color: red;
    font-weight: bolder;
}