.task {
    padding-bottom: 6px;
    padding-top: 6px;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    background-color: #333;
    width: 530px;
    border-radius: 20px;
}

.listTitle {
    margin: 15px;
}

#taskDescriptionInput {
    margin-top: 20px;
}

.taskDescription {
    border: 0;
    width: 300px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    margin-left: 7px;
    border-radius: 15px;
}

.editIcon {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 7px;
}

#deleteButtonsArea {
    display: inline-block;
}

.deleteButton, .deleteTaskButton {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.dragging {
    opacity: 0.5;
}

body span {
    font-size: large;
}